@import url('https://fonts.googleapis.com/css?family=Audiowide|Exo+2|Open+Sans');

body{
    color: #FFFFFF;
    background-color: #011C51;
}
.a.nav-link, p.navbar-text, .navbar-light .navbar-nav .active>.nav-link {color: white;}
.logo {
    max-width: 34%;
    margin: 15%;
    margin-left: 35%;
}

h1  {
    font-family: 'Audiowide', cursive;
    color: #FBEC5D;
}

p   {
    font-family: 'Open Sans', sans-serif;
}

a   {
    font-family: 'Exo 2', sans-serif;
    color: #FBEC5D;
}

.nav-link{
    color: #FBEC5D;
    background-color: #603C9A;

}

.text-muted {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.bg-faded {
    background-color: #603C9A;
}

.description {
    font-size: 11px;
    margin: 4%;
    margin-top: 17%;

}
